div {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

img {
    height: auto;
    width: 300px;
}

.name {
    display: flex;
    justify-content: space-around;
}

.heading,
.desc,
.ing,
.ins {
    text-align: center;
}

.heading {
    color: grey;
}

.desc,
.ing,
.ins {
    font-weight: 900;
    background-color: bisque;
    color: darkolivegreen;
}